<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>index 페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/watch.js')  }}"></script>
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login/">로그인</a></li>
                    <li><a href="/member/">회원가입</a></li>
                    <li><a href="/board/">게시판</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Welcome to my WebSite!</h1>
            <img src="{{ url_for('static', filename='images/friend.PNG') }}" alt="프렌즈 스피커">
            <p id="demo"></p>
        </section>
    </div>
</body>
</html>